<section class="post-comments">

  {% if site.comment.uyan %}
    <div id="uyan_frame"></div>

    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid="+'{{ site.comment.uyan }}'></script>

  {% elsif site.comment.disqus %}
    <div id="disqus_thread"></div>
    <script>
    
    var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
        this.page.identifier = "{{ page.url }}";
    };
    var disqus_shortname = '{{ site.comment.disqus }}';
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>
    

  {% elsif site.comment.gitalk %}
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script>
    var gitalk = new Gitalk({
        owner: 'vMagina',
        repo: 'https://vMagina.github.io',
        clientID: 'f51420672d715aab6e5b',
        clientSecret: '3c88ae89a0f3e1b5eee74df254b24b0903425f6b',
        id: location.pathname
    });
    gitment.render('gitalk-container');
    </script>
  {% endif %}

</section>
